:root {
  --container-width: 1240px;
  --container-padding-x: 20px;

  --border: 1px solid black;

  --font-family-base: 'Ubuntu', sans-serif;

  --color-dark: #191a23;
  --color-light: #ffff;

  --transition-duration: 0.2s;
}
